/.gradle/
*.class
/.idea/
Weebot.iml
/out/
/local.properties
/.flooignore
/.floo
*.flog
/build/classes/
/build/distributions/
/build/generated
/build/scripts
/build/scriptsShadow
/build/kotlin
/build/tmp